{
	email admin@bunbun.market
}

(common_headers) {
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}
}

www.bunbun.market {
	redir https://bunbun.market{uri} permanent
}

bunbun.market {
	encode zstd gzip
	import common_headers
	reverse_proxy web:3000
}

api.bunbun.market {
	encode zstd gzip
	import common_headers
	reverse_proxy api:3000
}
