version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: marketplace-postgres
    restart: unless-stopped
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: marketplace
      POSTGRES_PASSWORD: marketplace
      POSTGRES_DB: marketplace_dev
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
